# Location of the Gurobi license key file, typically named "gurobi.lic".
build --action_env=GRB_LICENSE_FILE

# Location of the MOSEK license file, typically named "mosek.lic"
build --action_env=MOSEKLM_LICENSE_FILE

build --coverage_report_generator=//htmlbook/tools/coverage:coverage_report_generator
build --coverage_support=//htmlbook/tools/coverage:coverage_support
build --distinct_host_configuration=no
build --enable_platform_specific_config=yes

build --incompatible_disable_target_provider_fields=yes
build --incompatible_load_python_rules_from_bzl=yes
build --incompatible_no_rule_outputs_param=yes
build --incompatible_restrict_string_escapes=yes
build --incompatible_run_shell_command_string=yes
build --incompatible_strict_action_env=yes
build --incompatible_use_platforms_repo_for_constraints=yes
build --incompatible_visibility_private_attributes_at_definition=yes

build --legacy_external_runfiles=no
build --strict_filesets=yes

build --test_env=GRB_LICENSE_FILE
build --test_env=LANG=en_US.UTF-8
build --test_env=LC_ALL=en_US.UTF-8
build --test_env=MOSEKLM_LICENSE_FILE
build --test_env=MPLBACKEND=Template

# TODO(jamiesnape): Fix "Invalid -W option ignored: invalid module name:
# 'pydrake.common.deprecation' warning and ensure that Drake deprecation
# warnings are promoted to errors.
# build --test_env=PYTHONWARNINGS=error::pydrake.common.deprecation.DrakeDeprecationWarning

build --test_output=errors
build --test_summary=terse

build:linux --action_env=PATH=/usr/sbin:/usr/bin:/sbin:/bin

build:macos --action_env=PATH=/usr/local/opt/python@3.8/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin
build:macos --test_timeout=120,600,1800,7200

try-import %workspace%/user.bazelrc
