.bazelproject
.git/
.gitattributes
.gitmodules
.ijwb/
.tidy.config
.venv/
.vscode/
*.html
**/__pycache__/
**/.dockerignore
**/.DS_Store
**/.gitignore
**/.idea/
**/Dockerfile
**/README.md
bazel-*
htmlbook/
underactuated.xpr
update.cgi
user.bazelrc
