.bazelproject
.git/
.gitattributes
.gitmodules
.ijwb/
.tidy.config
*.html
**/__pycache__/
**/.dockerignore
**/.DS_Store
**/.gitignore
**/.idea/
**/Dockerfile
bazel-*
htmlbook/
underactuated.xpr
update.cgi
user.bazelrc
