*               text=auto

*.bazel         text diff=python
*.bazelrc       text
*.bzl           text diff=python
*.cgi           text diff=perl
*.gv            text
*.html          text diff=html
*.ipynb         text
*.jpg           binary
*.json          text
*.m             text diff=matlab
*.md            text
*.ogg           binary
*.pdf           binary
*.py            text diff=python
*.sdf           text
*.svg           text
*.swf           binary
*.tex           text diff=tex
*.TXT           text
*.txt           text
*.urdf          text
*.xml           text
*.xpr           text
*.yml           text

.bazelproject   text
.editorconfig   text
.gitattributes  text
.gitignore      text
.gitmodules     text
.tidy.config    text
