[submodule "htmlbook"]
	path = book/htmlbook
	url = https://github.com/RussTedrake/htmlbook
[submodule "data"]
	path = book/data
	url = https://github.com/RussTedrake/underactuated-data
	shallow = True
