-r htmlbook/mac-requirements.in
-c htmlbook/mac-constraints.txt
certifi<=2020.12.5 # some package was asking for 2021.11.8 instead of 2020.11.8
gradescope-utils>=0.4.0
mpld3>=0.5.6 # for matplotlib>=3.5.0
nbconvert>=6.4.2
pandas>=1.4.1
pydot>=1.4.1
PyYAML>=6.0
scipy
timeout-decorator>=0.4.1
traitlets>=5.1.1  # for ipykernel on arm64
pyzmq>=25.0.0 # seems to be needed on python 3.11
lxml>=4.9.2 # seems to be needed on python 3.11