asttokens==2.4.1 ; python_version >= "3.10" and python_version < "3.12"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "3.12"
black[jupyter]==23.12.1 ; python_version >= "3.10" and python_version < "3.12"
bleach==6.1.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
certifi==2023.11.17 ; python_version >= "3.10" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux") and implementation_name == "pypy"
cfgv==3.4.0 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
contourpy==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.12"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
distlib==0.3.8 ; python_version >= "3.10" and python_version < "3.12"
drake==1.24.0 ; python_version >= "3.10" and python_version < "3.12"
entrypoints==0.4 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
fastjsonschema==2.19.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
filelock==3.13.1 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.47.0 ; python_version >= "3.10" and python_version < "3.12"
gradescope-utils==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
identify==2.5.33 ; python_version >= "3.10" and python_version < "3.12"
idna==3.6 ; python_version >= "3.10" and python_version < "3.12"
ipython==8.19.0 ; python_version >= "3.10" and python_version < "3.12"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2023.11.2 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
jsonschema==4.20.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
jupyter-client==8.6.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
jupyter-core==5.5.1 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.12"
lxml==4.9.4 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.12"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.5.1 ; sys_platform == "linux"
matplotlib==3.7.3 ; sys_platform == "darwin" and python_version < "3.12"
mistune==0.8.4 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
mistune==2.0.5 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "darwin"
mpld3==0.5.10 ; python_version >= "3.10" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
mysql-connector-python==8.2.0 ; python_version >= "3.10" and python_version < "3.12"
nbclient==0.5.13 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
nbclient==0.9.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "darwin"
nbconvert==6.4.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
nbconvert==7.0.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "darwin"
nbformat==5.9.2 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
nest-asyncio==1.5.8 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
nodeenv==1.8.0 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.26.2 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.12"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "3.12"
pandocfilters==1.5.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "win32"
pillow==10.1.0 ; python_version >= "3.10" and python_version < "3.12"
platformdirs==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
pre-commit==3.6.0 ; python_version >= "3.10" and python_version < "3.12"
prompt-toolkit==3.0.43 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.21.12 ; python_version >= "3.10" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux") and implementation_name == "pypy"
pydot==1.4.2 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.17.2 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
pyzmq==25.1.2 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
referencing==0.32.0 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.15.2 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
scipy==1.11.4 ; python_version >= "3.10" and python_version < "3.12"
setuptools==69.0.3 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.12"
testpath==0.6.0 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "linux"
timeout-decorator==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
tinycss2==1.2.1 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "darwin"
tokenize-rt==5.2.0 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.4 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
traitlets==5.14.0 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.1.0 ; python_version >= "3.10" and python_version < "3.12"
virtualenv==20.25.0 ; python_version >= "3.10" and python_version < "3.12"
wcwidth==0.2.12 ; python_version >= "3.10" and python_version < "3.12"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
