appnope==0.1.0; sys_platform == 'darwin'
attrs==19.3.0; sys_platform == 'darwin'
backcall==0.1.0; sys_platform == 'darwin'
bleach==3.1.4; sys_platform == 'darwin'
cycler==0.10.0; sys_platform == 'darwin'
decorator==4.4.2; sys_platform == 'darwin'
defusedxml==0.6.0; sys_platform == 'darwin'
entrypoints==0.3; sys_platform == 'darwin'
gradescope-utils==0.3.1
importlib-metadata==1.6.0; sys_platform == 'darwin'
ipykernel==5.2.1; sys_platform == 'darwin'
ipython==7.13.0; sys_platform == 'darwin'
ipython-genutils==0.2.0; sys_platform == 'darwin'
ipywidgets==7.5.1; sys_platform == 'darwin'
jedi==0.17.0; sys_platform == 'darwin'
Jinja2==2.11.2; sys_platform == 'darwin'
jsonschema==3.2.0; sys_platform == 'darwin'
jupyter-client==6.1.3; sys_platform == 'darwin'
jupyter-core==4.6.3; sys_platform == 'darwin'
kiwisolver==1.2.0; sys_platform == 'darwin'
lxml==4.5.0; sys_platform == 'darwin'
MarkupSafe==1.1.1; sys_platform == 'darwin'
matplotlib==3.2.1; sys_platform == 'darwin'
mistune==0.8.4; sys_platform == 'darwin'
more-itertools==8.2.0; sys_platform == 'darwin'
nbconvert==5.6.1; sys_platform == 'darwin'
nbformat==5.0.6; sys_platform == 'darwin'
notebook==6.0.3; sys_platform == 'darwin'
pandocfilters==1.4.2; sys_platform == 'darwin'
parso==0.7.0; sys_platform == 'darwin'
pexpect==4.8.0; sys_platform == 'darwin'
pickleshare==0.7.5; sys_platform == 'darwin'
prometheus-client==0.7.1; sys_platform == 'darwin'
prompt-toolkit==3.0.5; sys_platform == 'darwin'
ptyprocess==0.6.0; sys_platform == 'darwin'
pycodestyle==2.5.0
pydocstyle==5.0.2
pydot==1.4.1; sys_platform == 'darwin'
Pygments==2.6.1; sys_platform == 'darwin'
pyparsing==2.4.7; sys_platform == 'darwin'
pyrsistent==0.16.0; sys_platform == 'darwin'
python-dateutil==2.8.1; sys_platform == 'darwin'
PyYAML==5.3.1; sys_platform == 'darwin'
pyzmq==19.0.0; sys_platform == 'darwin'
Send2Trash==1.5.0; sys_platform == 'darwin'
six==1.14.0; sys_platform == 'darwin'
snowballstemmer==2.0.0
terminado==0.8.3; sys_platform == 'darwin'
testpath==0.4.4; sys_platform == 'darwin'
timeout-decorator==0.4.1
torch==1.4.0
tornado==6.0.4; sys_platform == 'darwin'
traitlets==4.3.3; sys_platform == 'darwin'
u-msgpack-python==2.5.2; sys_platform == 'darwin'
wcwidth==0.1.9; sys_platform == 'darwin'
webencodings==0.5.1; sys_platform == 'darwin'
widgetsnbextension==3.5.1; sys_platform == 'darwin'
yapf==0.29.0
zipp==3.1.0; sys_platform == 'darwin'
