beautifulsoup4==4.9.3      ; sys_platform == "darwin"
certifi==2021.11.8         ; sys_platform == "darwin"
chardet==3.0.4             ; sys_platform == "darwin"
dataclasses==0.6           ; sys_platform == "darwin"
future==0.18.2             ; sys_platform == "darwin"
gradescope-utils==0.4.0    ; sys_platform == "darwin"
idna==2.10                 ; sys_platform == "darwin"
mysql-connector-python==8.0.22   ; sys_platform == "darwin"
numpy==1.19.4              ; sys_platform == "darwin"
protobuf==3.14.0           ; sys_platform == "darwin"
pycodestyle==2.6.0         ; sys_platform == "darwin"
pydocstyle==5.1.1          ; sys_platform == "darwin"
pydot==1.4.1               ; sys_platform == "darwin"
pyparsing==2.4.7           ; sys_platform == "darwin"
pyyaml==5.3.1              ; sys_platform == "darwin"
requests==2.25.0           ; sys_platform == "darwin"
scipy==1.5.4               ; sys_platform == "darwin"
six==1.15.0                ; sys_platform == "darwin"
snowballstemmer==2.0.0     ; sys_platform == "darwin"
soupsieve==2.0.1           ; sys_platform == "darwin"
timeout-decorator==0.5.0   ; sys_platform == "darwin"
torch==1.7.0               ; sys_platform == "darwin"
typing-extensions==3.7.4.3   ; sys_platform == "darwin"
urllib3==1.26.2            ; sys_platform == "darwin"
yapf==0.30.0               ; sys_platform == "darwin"
dataclasses==0.8          ; sys_platform == "linux"
future==0.18.2            ; sys_platform == "linux"
gradescope-utils==0.4.0   ; sys_platform == "linux"
mysql-connector-python==8.0.22  ; sys_platform == "linux"
numpy==1.19.4             ; sys_platform == "linux"
protobuf==3.14.0          ; sys_platform == "linux"
pycodestyle==2.6.0        ; sys_platform == "linux"
pydocstyle==5.1.1         ; sys_platform == "linux"
six==1.15.0               ; sys_platform == "linux"
snowballstemmer==2.0.0    ; sys_platform == "linux"
timeout-decorator==0.5.0  ; sys_platform == "linux"
torch==1.7.0              ; sys_platform == "linux"
typing-extensions==3.7.4.3  ; sys_platform == "linux"
yapf==0.30.0              ; sys_platform == "linux"
