# Copyright (c) 2020, Massachusetts Institute of Technology.
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice, this
#   list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the name of the copyright holder nor the names of its contributors
#   may be used to endorse or promote products derived from this software
#   without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

---
name: CI
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - master
  schedule:
    - cron: '0 8 * * *'
jobs:
  noble-poetry:
    name: ubuntu noble using poetry
    runs-on: ubuntu-24.04
    container: ubuntu:24.04
    steps:
      - name: pre-checkout setup
        run: |
          export APT_KEY_DONT_WARN_ON_DANGEROUS_USAGE=1 DEBIAN_FRONTEND=noninteractive
          apt-get update -o APT::Acquire::Retries=4 -qq
          apt-get install -o APT::Acquire::Retries=4 -o Dpkg::Use-Pty=0 -qy --no-install-recommends ca-certificates gnupg sudo
          apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E1DD270288B4E6030699E45FA1715D88E1DF1F24
          echo 'deb http://ppa.launchpad.net/git-core/ppa/ubuntu noble main' > /etc/apt/sources.list.d/git.list
          apt-get update -o APT::Acquire::Retries=4 -qq
          apt-get install -o APT::Acquire::Retries=4 -o Dpkg::Use-Pty=0 -qy --no-install-recommends git
          # Create non-root user for running repository setup / tests
          useradd -m -s /bin/bash runner
          echo 'runner ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers
          rm -rf /var/cache/apt/archives/*.deb /var/cache/apt/archives/partial/*.deb /var/cache/apt/*.bin /var/lib/apt/lists/* /var/log/apt/*
        shell: bash
      - name: checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: install dependencies
        run: |
          # Fix ownership of the workspace
          chown -R runner:runner .
          # Switch to runner user for remaining commands
          # Install system packages as root
          ./setup/ubuntu/24.04/install_prereqs.sh
          apt-get install -o APT::Acquire::Retries=4 -o Dpkg::Use-Pty=0 -qy --no-install-recommends xvfb
          sudo -H -u runner python3 -m pip install --user --break-system-packages poetry==2.1.4
          sudo -H -u runner python3 -m poetry config virtualenvs.in-project true
          sudo -H -u runner python3 -m poetry install --all-extras --with dev
          rm -rf /var/cache/apt/archives/*.deb /var/cache/apt/archives/partial/*.deb /var/cache/apt/*.bin /var/lib/apt/lists/* /var/log/apt/*
        shell: bash
      - name: test
        run: |
          set -euo pipefail
          VENV_PYTHON="$(pwd)/.venv/bin/python"
          sudo -H -u runner xvfb-run \
            --auto-servernum \
            --server-args='-screen 0 1280x1024x24 -ac +extension GLX +extension RANDR +render -noreset' \
            "$VENV_PYTHON" -m pytest -ra 
        shell: bash
  # TODO(russt): add noble-pip-core workflow which only runs the tests in underactuated, but uses the underactuated module from pip.
  noble-pip-all:
    name: ubuntu noble using pip all
    runs-on: ubuntu-24.04
    container: ubuntu:24.04
    steps:
      - name: pre-checkout setup
        run: |
          export APT_KEY_DONT_WARN_ON_DANGEROUS_USAGE=1 DEBIAN_FRONTEND=noninteractive
          apt-get update -o APT::Acquire::Retries=4 -qq
          apt-get install -o APT::Acquire::Retries=4 -o Dpkg::Use-Pty=0 -qy --no-install-recommends ca-certificates gnupg sudo
          apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E1DD270288B4E6030699E45FA1715D88E1DF1F24
          echo 'deb http://ppa.launchpad.net/git-core/ppa/ubuntu noble main' > /etc/apt/sources.list.d/git.list
          apt-get update -o APT::Acquire::Retries=4 -qq
          apt-get install -o APT::Acquire::Retries=4 -o Dpkg::Use-Pty=0 -qy --no-install-recommends git
          # Create non-root user for running repository setup / tests
          useradd -m -s /bin/bash runner
          echo 'runner ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers
          rm -rf /var/cache/apt/archives/*.deb /var/cache/apt/archives/partial/*.deb /var/cache/apt/*.bin /var/lib/apt/lists/* /var/log/apt/*
        shell: bash
      - name: checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: install dependencies
        run: |
          # Fix ownership of the workspace
          chown -R runner:runner .
          # Switch to runner user for remaining commands
          # Install system packages as root
          ./setup/ubuntu/24.04/install_prereqs.sh
          apt-get install -o APT::Acquire::Retries=4 -o Dpkg::Use-Pty=0 -qy --no-install-recommends xvfb
          rm -rf ./underactuated  # remove the local underactuated module, to force using the pip module.
          sudo -H -u runner python3 -m pip install --user --break-system-packages --upgrade underactuated[all] pytest pytest-timeout
          rm -rf /var/cache/apt/archives/*.deb /var/cache/apt/archives/partial/*.deb /var/cache/apt/*.bin /var/lib/apt/lists/* /var/log/apt/*
        shell: bash
      - name: test
        run: |
          set -euo pipefail
          find book/htmlbook -type f -name 'test_*.py' -delete  # remove the htmlbook tests, which have more python requirements
          sudo -H -u runner xvfb-run \
            --auto-servernum \
            --server-args='-screen 0 1280x1024x24 -ac +extension GLX +extension RANDR +render -noreset' \
            python3 -m pytest -ra
        shell: bash
  sonoma:
    name: macos sonoma 14
    runs-on: macos-14
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: setup
        run: |
          ./setup/mac/install_prereqs.sh
          python -m pip install --user poetry==2.1.4
          python -m poetry config virtualenvs.in-project true
          python -m poetry env use "$(python -c 'import sys; print(sys.executable)')"
          python -m poetry install --all-extras --with dev
        shell: zsh -efuo pipefail {0}
      - name: test
        run: |
          set -euo pipefail
          .venv/bin/python -m pytest -ra
        shell: zsh -efuo pipefail {0}
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' 
      - name: black
        uses: psf/black@stable
        with:
          version: 24.10.0
          jupyter: true
      - name: isort
        uses: isort/isort-action@master
        with:
            configuration: "--profile black --check-only"
            isort-version: 5.12.0
      - name: autoflake
        uses: creyD/autoflake_action@master
        with:
            options: --remove-all-unused-imports --in-place
            # Pegging version s.t. https://github.com/creyD/autoflake_action/issues/1
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.1.4
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: build the docs
        run: |
          poetry install --only docs
          source .venv/bin/activate
          sphinx-build -M html underactuated book/python
        shell: bash
      - name: Test full poetry install
        run: poetry install
